@model Wohnungstausch24.Models.ViewModels.Search.DetailedSearch.Base.DetailedSearchResidence

@if (Model.HasWinterGarden)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasWinterGarden, "BooleanFeature")
        @Html.LabelFor(m => m.HasWinterGarden)
    </div>
}
@if (Model.HasStorageRoom)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasStorageRoom, "BooleanFeature")
        @Html.LabelFor(m => m.HasStorageRoom)
    </div>
}
@if (Model.HasBicycleRoom)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasBicycleRoom, "BooleanFeature")
        @Html.LabelFor(m => m.HasBicycleRoom)
    </div>
}
@if (Model.HasWashDryingRoom)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasWashDryingRoom, "BooleanFeature")
        @Html.LabelFor(m => m.HasWashDryingRoom)
    </div>
}
@if (Model.HasElevator)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasElevator, "BooleanFeature")
        @Html.LabelFor(m => m.HasElevator)
    </div>
}
@if (Model.HasChimney)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasChimney, "BooleanFeature")
        @Html.LabelFor(m => m.HasChimney)
    </div>
}
@if (Model.HasRollerBlind)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasRollerBlind, "BooleanFeature")
        @Html.LabelFor(m => m.HasRollerBlind)
    </div>
}
@if (Model.IsSeniorFocused)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.IsSeniorFocused, "BooleanFeature")
        @Html.LabelFor(m => m.IsSeniorFocused)
    </div>
}
@if (Model.IsWheelchairAccessible)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.IsWheelchairAccessible, "BooleanFeature")
        @Html.LabelFor(m => m.IsWheelchairAccessible)
    </div>
}
@if (Model.HasBarrierFree)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasBarrierFree, "BooleanFeature")
        @Html.LabelFor(m => m.HasBarrierFree)
    </div>
}
@if (Model.HasAirCondition)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasAirCondition, "BooleanFeature")
        @Html.LabelFor(m => m.HasAirCondition)
    </div>
}
@if (Model.HasSauna)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasSauna, "BooleanFeature")
        @Html.LabelFor(m => m.HasSauna)
    </div>
}
@if (Model.HasSwimmingPool)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasSwimmingPool, "BooleanFeature")
        @Html.LabelFor(m => m.HasSwimmingPool)
    </div>
}

@if (Model.HasApprovalOfAddress)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasApprovalOfAddress, "BooleanFeature")
        @Html.LabelFor(m => m.HasApprovalOfAddress)
    </div>
}

@if (Model.HasBalcony)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasBalcony, "BooleanFeature")
        @Html.LabelFor(m => m.HasBalcony)
    </div>
}
@if (Model.HasCableSatTv)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasCableSatTv, "BooleanFeature")
        @Html.LabelFor(m => m.HasCableSatTv)
    </div>
}
@if (Model.HasGermanTvByAntenna)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasGermanTvByAntenna, "BooleanFeature")
        @Html.LabelFor(m => m.HasGermanTvByAntenna)
    </div>
}
@if (Model.HasCableDucts)
{
    <div class="col-md-3">
        @Html.DisplayFor(m => m.HasCableDucts, "BooleanFeature")
        @Html.LabelFor(m => m.HasCableDucts)
    </div>
}