@model Wohnungstausch24.Models.ViewModels.Listings.ListingDetail.Land.DetailLandForSale

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-primary">
            <div class="panel-heading">Prices</div>
            <div class="panel-body">
                <div class="property__info">
                    <div class="col-md-12">
                        <div class="row">
                            <div class="col-md-1">
                                <i class="fa fa-3x fa-euro text-primary"></i>
                            </div>
                            <div class="col-md-11">
                                <div class="row">
                                    <div class="col-md-3">
                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="row">
                                                    <div class="col-md-12">
                                                        @Html.LabelFor(c => c.Price, new { @class = "control-label" })
                                                        <i class="fa fa-info-circle text-primary" data-toggle="tooltip" data-placement="top" title="Tooltip on top"></i>
                                                    </div>
                                                    <div class="col-md-12">
                                                        @Html.DisplayFor(m => m.Price) €
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <hr />
                                    <div class="col-md-4">Tag list???</div>
                                    <div class="col-md-8">
                                        <div class="col-md-6">
                                            <div class="col-md-12">@Html.LabelFor(c => c.EarliestAvailableDate, new { @class = "control-label" })</div>
                                            <div class="col-md-12">@Model.EarliestAvailableDate.GetValueOrDefault().ToShortDateString()</div>
                                        </div>
                                        <div class="col-md-6">
                                            <div class="col-md-12">@Html.LabelFor(c => c.LatestAvailableDate, new { @class = "control-label" })</div>
                                            <div class="col-md-12">@Model.LatestAvailableDate.GetValueOrDefault().ToShortDateString()</div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>