mixin articleFeed(title, limit, type, btn, btnLink, btnClass)
  +widget(title, null, 'dashboard', btn, btnLink, btnClass)
    // BEGIN SECTION ARTICLE
    .listing.listing--feed
      - var i = -1;
      while ++i < limit
        .listing__item
          article.article.article--feed
            a(href='blog_details.html').article__photo
              if locals.data.articles[i].preview == ''
                img.article__photo-img(src='#{path.img}/no-image--blog-275x180.jpg' alt='')
              else
                img.article__photo-img(src='#{path.media}/news/#{locals.data.articles[i].preview}', alt='News title')
              time.article__time(datetime='2009-08-29')
                | #{locals.data.articles[i].date.month}
                strong #{locals.data.articles[i].date.day}
            .article__details
              a.article__item-title(href='blog_details.html') #{locals.data.articles[i].title}
              .article__intro
                p #{locals.data.articles[i].description} #{locals.data.articles[i].description}
              a.article__more(href='blog_details.html') Read more
          // end of block .article
      if type == 'list'
        .widget__footer
          a.widget__more Show more news
    // END SECTION ARTICLE

