@using Wohnungstausch24.Web.Mvc.Helpers
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Wohnungstausch24 | Admin Panel</title>
    <!--[if IE]>
    <meta http-equiv="X-UA-Compatible" content="IE=9,chrome=1"><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no">
    <meta name="format-detection" content="telephone=no">
    <!-- Loading Source Sans Pro font that is used in this theme-->
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
    <!-- Boostrap and other lib styles-->
    @RenderSection("styles", required: false)
    @BundlesHelper.Wt24Styles.Vendor
    @BundlesHelper.Wt24Styles.CustomCss
    @BundlesHelper.Wt24Styles.FontAwesome
    @BundlesHelper.Wt24Styles.ThemeDefault
    @BundlesHelper.Wt24Styles.ToastrCss
    <!-- Fixes for IE-->
    <!--[if lt IE 11]>
    <link rel="stylesheet" href="/Content/assets/css/ie-fix.css"><![endif]-->
    <link rel="icon" href="/Content/assets/img/favicon.ico" type="image/x-icon">
</head>
<body class="index_vmap_light menu-default hover-default compact bg-diagonal-noise home scroll-animation scroll-animation">
    <div class="box js-box">
        @Html.Partial("_Header")
        @Html.Partial("_Navbar")
        <div class="site-wrap js-site-wrap">
            <!-- BEGIN CENTER SECTION-->
            <div class="center">
                <div class="container">
                    <div class="row">
                        @Html.Partial("_AdminSidebar")
                        @RenderBody()
                        <!-- END LISTING-->
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
            @Html.Partial("_Footer")
        </div>
    </div>
    <button type="button" class="scrollup js-scrollup"></button>
    <!-- end of block .scrollup-->

    @RenderSection("scripts", required: false)
    <script type="text/javascript" src="http://maps.google.com/maps/api/js?key=AIzaSyAJNyVM_p-VKTtVL7QpLhVbMEtFshsandA&libraries=places,drawing,geometry"></script>
    @BundlesHelper.Wt24Scripts.VendorJs
    @BundlesHelper.Wt24Scripts.AppJs
    @BundlesHelper.Wt24Scripts.CommonJs
    @BundlesHelper.Wt24Scripts.ToastrJs
    @Html.Partial("_Toastr")
</body>
</html>