doctype transitional
html(xmlns='http://www.w3.org/1999/xhtml')
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Realtyspace email
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', type='text/css', href='#{path.css}/email.css', inline='')
  body
    table.wrapper
      tr.header
        td(colspan='3')
          table.header__wrap
            tr
              td
                p.header__slogan
                  | “ Realty Space. Find apartments,
                  br
                  | single-family homes and everything in between ”
              td
                p.header__title Connect With Us
              td.header__social
                a.header__link(href='http://facebook.com')
                  img(src='#{path.img}/social/icon-facebook.png', alt='')
                a.header__link(href='http://twitter.com')
                  img(src='#{path.img}/social/icon-twitter.png', alt='')
                a.header__link(href='http://google.com')
                  img(src='#{path.img}/social/icon-google.png', alt='')
      tr.main
        td(colspan='3')
          a.logo(href='/')
            img(src='#{path.img}/logo.png', alt='')
          table.body
            tr
              td(colspan='3')
                img(src='#{path.media}/email/image.jpg', alt='')
            tr
              td
              td
                table.content
                  tr
                    td
                      h1 Expert Advice on Home Ownership
                      p
                        | You can feature specific properties in pages and posts (using the Featured Property shortcode) or on sidebars (using the Featured Property widget). The first line is the property title. The second line is manually edited by you.
                      p
                        | The hover effect color (green by default) is changed from Theme Options. Next are some examples of how you can play with the shortcode. Featured property widget is showcased on the sidebar.
                      p
                        | You can feature specific properties in pages and posts (using the Featured Property shortcode) or on sidebars (using the Featured Property widget). The first line is the property title. The second line is manually edited by you.
                      p The hover effect color (green by default) is changed from Theme Options.
                      p
                        | Next are some examples of how you can play with the shortcode. Featured property widget is showcased on the sidebar. The hover effect coloris changed from Theme Options. Next are some examples of how you can play with the shortcode. Featured property widget is showcased on the sidebar.
                      p
                        | Next are some examples of how you can play with the shortcode. Featured property widget is showcased on the sidebar.
                      p(style='text-align: center;')
                        a.btn-link(href='#') See more details
                      p(style='text-align: center;') On our site
                      p
                        | Thanks,
                        br
                        |                                     The RealtySpace Team
              td
      tr.footer
        td(colspan='3')
          p
            | Please do not reply directly to this email. You can reach us by sending message to
            br
            a(href='#') support@companyname.com
