@model Wohnungstausch24.Models.ViewModels.Account.AccountModels
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Areas/Agent/Views/Shared/_Layout.cshtml";
}
<div class="site site--dashboard">
    <div class="site__main">
        <div class="widget js-widget widget--dashboard">
            <div class="widget__content">
                @using (Html.BeginForm("ChangePassword", "Settings", new { area = "Agent" }, FormMethod.Post, new { @class = "form form--flex js-form col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3" }))
                {
                    <header class="form__header">
                        <h3 data-rel="#form-block-5" class="form__title js-form-title">Change your password</h3>
                    </header>
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary("", new { @class = "text-danger" })
                    <div id="form-block-5" class="form__block js-form-block">
                        <div class="row">
                            <div class="col-sm-12 col-md-12 col-lg-12">
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m=>m.ChangePasswordViewModel.OldPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(m=>m.ChangePasswordViewModel.OldPassword, new { required="", @class="form-control"})
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ChangePasswordViewModel.NewPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.ChangePasswordViewModel.NewPassword, new { required = "", @class = "form-control" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="form-group">
                                        @Html.LabelFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { @class = "control-label" })
                                        @Html.PasswordFor(m => m.ChangePasswordViewModel.ConfirmPassword, new { required = "", @class = "form-control" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <button class="form__submit">Save password</button>
                    </div>
                }       
            </div>
        </div>

    </div>
</div>

