@model Wohnungstausch24.Models.ViewModels.Account.AccountModels

<nav class="breadcrumbs">
    <div class="container">
        <ul>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Home</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Restore</a></li>
        </ul>
    </div>
</nav>
<!-- END BREADCRUMBS-->
<div class="center">
    <div class="container">
        <div class="row">
            <section class="site">
                <header class="site__header">
                    <h1 class="site__title">Restore</h1>
                    <h2 class="site__headline">Enter your email to restore your account.</h2>
                </header>
                <div class="site__main">
                    <div class="widget js-widget widget--main widget--no-border ">
                        <div class="widget__content">
                            <div class="auth auth--inline">
                                <div class="auth__wrap auth__wrap--restore">
                                    <!-- BEGIN AUTH RESTORE-->
                                    <h5 class="auth__title">Reset password</h5>
                                    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form form--flex form--auth form--restore js-restore-form js-parsley" }))
                                    {
                                        @Html.AntiForgeryToken()
                                        @Html.ValidationSummary("", new { @class = "text-danger" })
                                        <div class="row">
                                            <div class="form-group">
                                                @Html.LabelFor(m=>m.ForgotPasswordViewModel.Email,new {@class="control-label"})
                                                @Html.TextBoxFor(m=>m.ForgotPasswordViewModel.Email,new {required="", @class="form-control"})
                                            </div>
                                        </div>
                                        <div class="row">
                                            <button type="submit" class="form__submit">Reset password</button>
                                        </div>
                                        <div class="row">
                                            <div class="form__options">
                                                Back to<a href="@Url.Action("Login","Account")">Log In</a>or<a href="@Url.Action("Register","Account")">Registration</a>
                                            </div>
                                            <!-- end of block .auth__links-->
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>