@using Wohnungstausch24.Core.Extensions
@using Wohnungstausch24.Resources
@model List<Wohnungstausch24.Models.ViewModels.Agent.TextInAnotherLanguageViewModel>
<div class="col-md-12" id="languageDescription-area-data-div">
    <div class="form-group form-group--col-12">
        <table class="table table-responsive table-stripped">
            <thead>
            <tr>
                <th colspan="4">
                    <div class="row">
                        <div class="col-md-8">
                            @Resource.Add_Text_In_Another_Language
                        </div>
                        <div class="col-md-4">
                            <a class="btn btn-xs btn-primary pull-right" href="#" data-toggle="modal" data-target="#addLanguageDescriptionModal">@Resource.General_Table_Add_new<i class="fa fa-plus"></i></a>
                        </div>
                    </div>
                </th>
            </tr>
            </thead>
            <tr>
                <th>#</th>
                <th>@Resource.Language</th>
                <th>@Resource.Description</th>
                <th>@Resource.Options</th>
            </tr>
            @for (var i = 1; i <= Model.Count(); i++)
            {
                <tr>
                    <td>@i</td>
                    <td>@Html.DisplayFor(m => Model[i - 1].LanguageCode, new {@class = ""})</td>
                    <td>@Html.DisplayFor(m => Model[i - 1].Description, new {@class = ""})</td>
                    <td>
                        <a href="@Url.Action("DeleteTextInAnotherLanguage", "Property", new {id = Model[i - 1].Id})" class="btn btn--action wt24-languageDescription-confirmation"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            }
        </table>
    </div>
</div>
<div class="loading"></div>