@using Wohnungstausch24.Resources
@model Wohnungstausch24.Models.ViewModels.Property.AddBeaconingViewModel
@{
    var addBeaconingOpt = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "beaconing-area-data-div",
        OnBegin = "ShowBeaconingLoader",
        OnComplete = "HideBeaconingLoader"
    };
}
<!-- Modal -->
<div class="modal fade" id="addBeaconingModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="myModalLabel">@Resource.Add_New_Beaconing</h4>
            </div>
            @using (Ajax.BeginForm("AddBeaconing", "Property", null, addBeaconingOpt, new { @class = "form form--flex" }))
            {
                @Html.HiddenFor(m => m.Id)
                <div class="modal-body">
                    <div class="row">
                        <div class="form-group form-group--col-12">
                            <div class="col-md-6">
                                @Html.LabelFor(m => m.BeaconingType, new { @class = "control-label" })
                            </div>
                            <div class="col-md-6">
                                @Html.EnumDropDownListFor(m => m.BeaconingType, Resource.PleaseChoose, new { required = "", @class = "form-control js-in-select" })
                            </div>
                            @Html.ValidationMessageFor(m => m.BeaconingType, null, new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">OK</button>
                </div>
            }
        </div>
    </div>
</div>