@using Wohnungstausch24.Core.EnumExtensions
@using Wohnungstausch24.Models.Enums
@using Wohnungstausch24.Resources
@model Wohnungstausch24.Models.ViewModels.Listings.Steps.Step8.Step8ViewModel
@{
    ViewBag.Title = "Step8";
    Layout = "~/Areas/Agent/Views/Shared/_Layout.cshtml";
}
<div class="site site--dashboard">
    <div class="site__main">
        <div class="widget js-widget widget--dashboard">
            <div class="widget__header">
                <h2 class="widget__title">@Resource.Add_New_Property</h2>
            </div>
            <div class="widget__content">
                <section class="form-property form-property--dashboard">
                    @Html.Partial("HouseForSale/_Steps", Model.StepsProgressModel)
                    <div class="form-property__content">
                        @using (Html.BeginForm("Step8", "Property", FormMethod.Post, new { @class = "form form--flex form--property-add js-form js-form-property" }))
                        {
                            @Html.HiddenFor(m => m.Id)
                            @Html.AntiForgeryToken()
                            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
                            <div class="form-group--col-12">
                                <div class="row">
                                    <div class="col-md-4 col-xs-6">
                                        @Html.LabelFor(m => m.Step8HouseForSale.FeatureCategory, new { @class = "control-label" })
                                        @Html.EnumDropDownListFor(m => m.Step8HouseForSale.FeatureCategory, Resource.PleaseChoose, new { @class = "form-control js-in-select" })
                                        @Html.ValidationMessageFor(m => m.Step8HouseForSale.FeatureCategory, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="col-md-4 col-xs-6">
                                        @Html.LabelFor(m => m.Step8HouseForSale.ConditionArtType, new { @class = "control-label" })
                                        @Html.EnumDropDownListFor(m => m.Step8HouseForSale.ConditionArtType, Resource.PleaseChoose, new { @class = "form-control js-in-select" })
                                        @Html.ValidationMessageFor(m => m.Step8HouseForSale.ConditionArtType, null, new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group form-group--col-4">
                                        @Html.EditorFor(m => m.Step8HouseForSale.LastRenovationDate)
                                        @Html.ValidationMessageFor(m => m.Step8HouseForSale.LastRenovationDate, null, new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-12">
                                        <div class="form-group form-group--col-12 form-group--inline">
                                            <div class="col-md-8">
                                                @Html.LabelFor(m => m.Step8HouseForSale.DesignType, new { @class = "control-label" })
                                                <ul class="form__check">
                                                    <li>
                                                        @Html.RadioButtonFor(m => m.Step8HouseForSale.DesignType, DesignType.Massive, new { @class = "in-radio", id = "in-radio-undergroundtype-type-1", required = "" })
                                                        @Html.Label(DesignType.Massive.GetDisplayName(), new { @for = "in-radio-undergroundtype-type-1", @class = "in-label" })
                                                    </li>
                                                    <li>
                                                        @Html.RadioButtonFor(m => m.Step8HouseForSale.DesignType, DesignType.Precast, new { @class = "in-radio", id = "in-radio-undergroundtype-type-2", required = "" })
                                                        @Html.Label(DesignType.Precast.GetDisplayName(), new { @for = "in-radio-undergroundtype-type-2", @class = "in-label" })
                                                    </li>
                                                    <li>
                                                        @Html.RadioButtonFor(m => m.Step8HouseForSale.DesignType, DesignType.ElementsOfWood, new { @class = "in-radio", id = "in-radio-undergroundtype-type-3", required = "" })
                                                        @Html.Label(DesignType.ElementsOfWood.GetDisplayName(), new { @for = "in-radio-undergroundtype-type-3", @class = "in-label" })
                                                    </li>
                                                    <li>
                                                        @Html.RadioButtonFor(m => m.Step8HouseForSale.DesignType, DesignType.None, new { @class = "in-radio", id = "in-radio-undergroundtype-type-4", required = "" })
                                                        @Html.Label(DesignType.None.GetDisplayName(), new { @for = "in-radio-undergroundtype-type-4", @class = "in-label" })
                                                    </li>
                                                </ul>
                                                @Html.ValidationMessageFor(m => m.Step8HouseForSale.DesignType, null, new { @class = "text-danger" })
                                            </div>
                                            <div class="col-md-4">
                                                @Html.LabelFor(m => m.Step8HouseForSale.RoofType, new { @class = "control-label" })
                                                @Html.EnumDropDownListFor(m => m.Step8HouseForSale.RoofType, Resource.PleaseChoose, new { @class = "form-control js-in-select" })
                                                @Html.ValidationMessageFor(m => m.Step8HouseForSale.RoofType, null, new { @class = "text-danger" })
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br />
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="col-md-12" id="kitchen-area-data-div">
                                            <div class="form-group form-group--col-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">@Resource.Kitchen_Type</div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                @Html.CheckBoxFor(m => m.Step8HouseForSale.IsKitchenFitted, new { @class = "in-checkbox" })
                                                                @Html.LabelFor(m => m.Step8HouseForSale.IsKitchenFitted, new { @class = "in-label" })
                                                            </div>
                                                            <div class="col-md-12">
                                                                @Html.CheckBoxFor(m => m.Step8HouseForSale.IsKitchenOpen, new { @class = "in-checkbox" })
                                                                @Html.LabelFor(m => m.Step8HouseForSale.IsKitchenOpen, new { @class = "in-label" })
                                                            </div>
                                                            <div class="col-md-12">
                                                                @Html.CheckBoxFor(m => m.Step8HouseForSale.IsKitchenPantry, new { @class = "in-checkbox" })
                                                                @Html.LabelFor(m => m.Step8HouseForSale.IsKitchenPantry, new { @class = "in-label" })
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-8">
                                        <div class="col-md-12" id="kitchen-area-data-div">
                                            <div class="form-group form-group--col-12">
                                                <div class="panel panel-primary">
                                                    <div class="panel-heading">@Resource.FloorTypes</div>
                                                    <div class="panel-body">
                                                        <div class="row">
                                                            @for (var i = 0; i < Model.Step8HouseForSale.FloorTypes.Count; i++)
                                                            {
                                                                <div class="col-md-4">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.FloorTypes[i].Selected, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.FloorTypes[i].Selected, Model.Step8HouseForSale.FloorTypes[i].FloorType.GetDisplayName(), new { @class = "in-label" })
                                                                    @Html.HiddenFor(m => m.Step8HouseForSale.FloorTypes[i].FloorType)
                                                                    @Html.HiddenFor(m => m.Step8HouseForSale.FloorTypes[i].Id)
                                                                </div>
                                                            }
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" id="viewBathroom">
                                    @{ Html.RenderAction("GetBathrooms", "Property", new { id = Model.Id });}
                                </div>
                            </div>
                            <div class="collapse-group">
                                <h2>@Resource.Property_Step9_AdditionalIformation</h2>
                                <div class="collapse" id="viewdetails">
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-12" id="kitchen-area-data-div">
                                                <div class="form-group form-group--col-12">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">@Resource.Spaces</div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasWinterGarden, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasWinterGarden, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasWinterGarden, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasStorageRoom, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasStorageRoom, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasStorageRoom, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasBicycleRoom, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasBicycleRoom, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasBicycleRoom, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasWashDryingRoom, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasWashDryingRoom, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasWashDryingRoom, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasChimney, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasChimney, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasChimney, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasRollerBlind, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasRollerBlind, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasRollerBlind, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasLibrary, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasLibrary, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasLibrary, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasAttic, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasAttic, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasAttic, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasGrannyPart, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasGrannyPart, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasGrannyPart, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div id="roller-area-div">
                                                                    <div class="form-group form-group--col-12">
                                                                        @Html.LabelFor(m => m.Step8HouseForSale.RollerBlindType, new { @class = "control-label" })
                                                                        @Html.EnumDropDownListFor(m => m.Step8HouseForSale.RollerBlindType, Resource.PleaseChoose, new { @class = "form-control js-in-select" })
                                                                        @Html.ValidationMessageFor(m => m.Step8HouseForSale.RollerBlindType, null, new { @class = "text-danger" })
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-12" id="kitchen-area-data-div">
                                                <div class="form-group form-group--col-12">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">@Resource.Media</div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasCableSatTv, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasCableSatTv, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasCableSatTv, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasGermanTvByAntenna, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasGermanTvByAntenna, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasGermanTvByAntenna, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasInternet, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasInternet, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasInternet, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasCableDucts, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasCableDucts, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasCableDucts, null, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                            <div id="internet-area-div">
                                                                <div class="form-group form-group--col-12">
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.InternetType, new { @class = "control-label" })
                                                                    @Html.EnumDropDownListFor(m => m.Step8HouseForSale.InternetType, Resource.PleaseChoose, new { @class = "form-control js-in-select" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.InternetType, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="form-group form-group--col-12">
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.SpeedOfInternet, new { @class = "control-label" })
                                                                    <div class="input-group">
                                                                        @Html.TextBoxFor(m => m.Step8HouseForSale.SpeedOfInternet, new { @class = "form-control" })
                                                                        <div class="input-group-addon hidden-xs">
                                                                            <b>mbit/s</b>
                                                                        </div>
                                                                    </div>
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.SpeedOfInternet, null, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-12" id="kitchen-area-data-div">
                                                <div class="form-group form-group--col-12">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">@Resource.Luxury</div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasAirCondition, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasAirCondition, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasAirCondition, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasSauna, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasSauna, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasSauna, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasSwimmingPool, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasSwimmingPool, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasSwimmingPool, null, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="col-md-3" id="kitchen-area-data-div">
                                                <div class="form-group form-group--col-12">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">@Resource.Property_Step9_Access</div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.IsSeniorFocused, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.IsSeniorFocused, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.IsSeniorFocused, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.IsWheelchairAccessible, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.IsWheelchairAccessible, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.IsWheelchairAccessible, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.IsBarrierFree, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.IsBarrierFree, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.IsBarrierFree, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasElevator, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasElevator, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasElevator, null, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            <div class="col-md-3" id="kitchen-area-data-div">
                                                <div class="form-group form-group--col-12">
                                                    <div class="panel panel-primary">
                                                        <div class="panel-heading">@Resource.Safety</div>
                                                        <div class="panel-body">
                                                            <div class="row">
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasAlarmSystem, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasAlarmSystem, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasAlarmSystem, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasCamera, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasCamera, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasCamera, null, new { @class = "text-danger" })
                                                                </div>
                                                                <div class="col-md-12">
                                                                    @Html.CheckBoxFor(m => m.Step8HouseForSale.HasPoliceCall, new { @class = "in-checkbox" })
                                                                    @Html.LabelFor(m => m.Step8HouseForSale.HasPoliceCall, new { @class = "in-label" })
                                                                    @Html.ValidationMessageFor(m => m.Step8HouseForSale.HasPoliceCall, null, new { @class = "text-danger" })
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="col-md-4">
                                            @Html.LabelFor(m => m.Step8HouseForSale.IsConstructionYearProjected, new { @class = "control-label" })
                                            @Html.CheckBoxFor(m => m.Step8HouseForSale.IsConstructionYearProjected, new { @class = "in-checkbox pull-right", data_toggle = "toggle", data_on = Resource.Yes, data_off = Resource.No, data_onstyle = "success", data_offstyle = "danger" })
                                            @Html.ValidationMessageFor(m => m.Step8HouseForSale.IsConstructionYearProjected, null, new { @class = "text-danger" })
                                            @Html.LabelFor(m => m.Step8HouseForSale.IsApartmentTower, new { @class = "control-label" })
                                            @Html.CheckBoxFor(m => m.Step8HouseForSale.IsApartmentTower, new { @class = "in-checkbox pull-right", data_toggle = "toggle", data_on = Resource.Yes, data_off = Resource.No, data_onstyle = "success", data_offstyle = "danger" })
                                            @Html.ValidationMessageFor(m => m.Step8HouseForSale.IsApartmentTower, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group form-group--col-12">
                                            @Html.LabelFor(m => m.Step8HouseForSale.ConstructionYear, new { @class = "control-label" })
                                            @Html.DropDownListFor(m => m.Step8HouseForSale.ConstructionYear, Model.Step8HouseForSale.ConstructionYearList, "- Please choose -", new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.Step8HouseForSale.ConstructionYear, null, new { @class = "text-danger" })
                                        </div>
                                    </div>
                                </div>
                                <p>
                                    <a class="btn btn-default" data-toggle="collapse" data-target="#viewdetails" id="show-more-button"><i></i>@Resource.View_More »</a>
                                </p>
                            </div>
                            <div class="row">
                                <a class="form__submit" href="@Url.Action("Step7", new {id = Model.Id})"><i class="fa fa-angle-left"></i> @Resource.Back</a>
                                <button type="submit" class="form__submit">@Resource.Property_Step9_SaveAndPublish<i class="fa fa-check"></i></button>
                            </div>
                                        }
                    </div>
                </section>
            </div>
        </div>
    </div>
</div>

@Html.Partial("_AddBathroomModalPartial", Model.Step8HouseForSale.AddBathroomViewModel);

@section scripts
{
    <script>
        $('#viewdetails')
            .on('shown.bs.collapse',
                function () {
                    $("#show-more-button").text("@Resource.View_Less »");
                });
        $('#viewdetails')
            .on('hidden.bs.collapse',
                function () {
                    $("#show-more-button").text("@Resource.View_More »");
                });

        var hasInternet = $('#@Html.IdFor(m => m.Step8HouseForSale.HasInternet)');
        var internetAreaDiv = "#internet-area-div";
        hasInternet.change(
            function () {
                handleInternet();
            });
        handleInternet();
        function handleInternet() {
            if ($(hasInternet).prop('checked')) {
                $(internetAreaDiv).show('slow');
                $(internetAreaDiv + " :input").prop("disabled", false);
            } else {
                $(internetAreaDiv).hide('slow');
                $(internetAreaDiv + " :input").prop("disabled", true);
            }

        }

        var hasRollerBlind = $('#@Html.IdFor(m => m.Step8HouseForSale.HasRollerBlind)');
        var rollerAreaDiv = "#roller-area-div";
        hasRollerBlind.change(
           function () {
               handleRollerBlind();
           });
        handleRollerBlind();

        function handleRollerBlind() {
            if ($(hasRollerBlind).prop('checked')) {
                $(rollerAreaDiv).show('slow');
                $(rollerAreaDiv + " :input").prop("disabled", false);
            } else {
                $(rollerAreaDiv).hide('slow');
                $(rollerAreaDiv + " :input").prop("disabled", true);
            }
        }
        var ShowBathroomLoader = function () {
            $('#addBathroomModal').modal('toggle');
            showLoader("#bathroom-area-data-div");
        }

        var HideBathroomLoader = function () {
            hideLoader("#bathroom-area-data-div");
        }
        SweetAjax("#bathroom-area-data-div", ".wt24-bathroom-confirmation");
    </script>
}