@using Wohnungstausch24.Resources
@model Wohnungstausch24.Models.ViewModels.Account.AccountModels


<div class="dropdown__menu auth__dropdown--restore">
    <!-- BEGIN AUTH RESTORE-->
    <h5 class="auth__title">Reset password</h5>
    @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { @class = "form form--flex form--auth form--restore js-restore-form js-parsley" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary("", new { @class = "text-danger" })
        <div class="row">
            <div class="form-group">
                @Html.LabelFor(m => m.ForgotPasswordViewModel.Email, new { @for = "restore-email-dropdown", @class = "control-label" })
                @Html.TextBoxFor(m => m.ForgotPasswordViewModel.Email, new { type = "email", name = "email", id = "restore-email-dropdown", required = "", @class = "form-control" })
            </div>
        </div>
            <div class="row">
                <button type="submit" class="form__submit">Reset password</button>
            </div>
            <div class="row">
                <div class="form__options">
                    Back to
                    <button type="button" class="js-user-login">@Resource.SignIn</button>or
                    <button type="button" class="js-user-register">@Resource.SignUp</button>
                </div>
                <!-- end of block .auth__links-->
            </div>
    }
    <!-- end of block .auth__form-->
    <!-- END AUTH RESTORE-->
</div>
