meta(charset='UTF-8')
title #{projectTitle}
<!--[if IE]>
meta(http-equiv='X-UA-Compatible', content='IE=9,chrome=1')
<![endif]-->
meta(name='viewport', content='width=device-width, initial-scale=1, user-scalable=0, shrink-to-fit=no')
meta(name='format-detection', content='telephone=no')
// Loading Source Sans Pro font that is used in this theme
link(href='http://fonts.googleapis.com/css?family=Montserrat:400,700%7cSource+Sans+Pro:200,400,600,700,900,400italic,700italic&subset=latin,latin-ext', rel='stylesheet', type='text/css')

// Boostrap and other lib styles
// build:cssvendor
link(rel='stylesheet', href='#{path.css}/vendor.css')
// endbuild

// Font-awesome lib
// build:cssfontawesome
link(rel='stylesheet', href='#{path.css}/font-awesome.css')
// endbuild

// Theme styles, please replace "default" with other color scheme from the list available in template/css
// build:csstheme-default
link(rel='stylesheet', href='#{path.css}/theme-default.css')
// endbuild

// Your styles should go in this file
link(rel='stylesheet', href='#{path.css}/custom.css')

// Fixes for IE

<!--[if lt IE 11]>
link(rel='stylesheet', href='#{path.css}/ie-fix.css')
<![endif]-->

link(rel='icon', href='#{path.img}/favicon.ico', type='image/x-icon')
