        <!-- BEGIN BREADCRUMBS-->
<nav class="breadcrumbs">
    <div class="container">
        <ul>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Home</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Pages</a></li>
            <li class="breadcrumbs__item"><a href="" class="breadcrumbs__link">Content page</a></li>
        </ul>
    </div>
</nav>
<!-- END BREADCRUMBS-->
<div class="center">
    <div class="container">
        <div class="row">
            <!-- BEGIN site-->
            <div class="site site--main">
                <header class="site__header">
                    <section class="address address--footer">
                        <div class="contacts__column">
                            <div class="contacts__address">
                                <address class="contacts__address-item">
                                    <span class="contacts__address-title">Patrick Riehl</span>
                                    <dl class="contacts__address-column">
                                        <dt class="contacts__address-column__title">Address:</dt>
                                        <dd>Goethestr. 2 65830 Kriftel</dd>
                                    </dl>
                                    <dl class="contacts__address-column">
                                        <dt class="contacts__address-column__title">Telephone:</dt>
                                        <dd><span>Tel:</span> <a href="tel:+061929586500">+061929586500</a></dd>
                                        <dt class="contacts__address-column__title">Fax:</dt>
                                        <dd><span>Fax: +061929586520</span></dd>
                                    </dl>
                                    <dl class="contacts__address-column">
                                        <dt class="contacts__address-column__title">Email:</dt>
                                        <dd><a href="mailto:riehl@riehlestate.de">riehl@riehlestate.de</a><br><br></dd>
                                    </dl>
                                </address>
                            </div>           
                        </div>

                    </section>
                </header>

                <!-- END site-->
            </div>
            <!-- BEGIN SIDEBAR-->
            <div class="sidebar">
                <div class="widget js-widget widget--sidebar widget--dark">
                    <div class="widget__header">
                        <h2 class="widget__title">Popular estate</h2>
                        <h5 class="widget__headline">Find your apartment or house on the exact key parameters.</h5><a class="widget__btn js-widget-btn widget__btn--toggle">Show properties</a>
                    </div>
                    <div class="widget__content">
                        <div class="listing listing--sidebar">
                            <div class="listing__item">
                                <div class="properties properties--sidebar">
                                    <div class="properties__thumb">
                                        <a href="@Url.Action("Index","Property")" class="item-photo item-photo--static">
                                            <img src="~/Content/assets/media-demo/properties/554x360/02.jpg" alt="" />
                                            <figure class="item-photo__hover"><span class="item-photo__more">View Details</span></figure>
                                        </a>
                                    </div>
                                    <!-- end of block .properties__thumb-->
                                    <div class="properties__details">
                                        <div class="properties__info">
                                            <a href="@Url.Action("Index","Property")" class="properties__address">649 West Adams Boulevard, Los Angeles, CA 90007, USA</a>
                                            <!--+price-->
                                        </div>
                                    </div>
                                    <!-- end of block .properties__info-->
                                </div>
                                <!-- end of block .properties__item-->
                            </div>
                            <div class="listing__item">
                                <div class="properties properties--sidebar">
                                    <div class="properties__thumb">
                                        <a href="@Url.Action("Index","Property")" class="item-photo item-photo--static">
                                            <img src="~/Content/assets/img/no-image--554x360.jpg" alt="" />
                                            <figure class="item-photo__hover"><span class="item-photo__more">View Details</span></figure>
                                        </a>
                                    </div>
                                    <!-- end of block .properties__thumb-->
                                    <div class="properties__details">
                                        <div class="properties__info">
                                            <a href="@Url.Action("Index","Property")" class="properties__address">958 Dewey Avenue, Los Angeles, CA 90006, USA</a>
                                            <!--+price-->
                                        </div>
                                    </div>
                                    <!-- end of block .properties__info-->
                                </div>
                                <!-- end of block .properties__item-->
                            </div>
                            <div class="listing__item">
                                <div class="properties properties--sidebar">
                                    <div class="properties__thumb">
                                        <a href="@Url.Action("Index","Property")" class="item-photo item-photo--static">
                                            <img src="~/Content/assets/media-demo/properties/554x360/04.jpg" alt="" />
                                            <figure class="item-photo__hover"><span class="item-photo__more">View Details</span></figure>
                                        </a>
                                    </div>
                                    <!-- end of block .properties__thumb-->
                                    <div class="properties__details">
                                        <div class="properties__info">
                                            <a href="@Url.Action("Index","Property")" class="properties__address">1026 Ohio Avenue, Long Beach, CA 90804, USA</a>
                                            <!--+price-->
                                        </div>
                                    </div>
                                    <!-- end of block .properties__info-->
                                </div>
                                <!-- end of block .properties__item-->
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget js-widget widget--sidebar widget--dark">
                    <div class="widget__header">
                        <h2 class="widget__title">Our agents</h2>
                        <h5 class="widget__headline">Find your apartment or house on the exact key parameters.</h5><a class="widget__btn js-widget-btn widget__btn--toggle">Show worker</a>
                    </div>
                    <div class="widget__content">
                        <div class="listing listing--sidebar">
                            <div class="listing__item">
                                <div data-sr="enter bottom move 80px, scale(0), over 0s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--sidebar">
                                    <div class="worker__photo">
                                        <a href="agent_profile.html" class="item-photo item-photo--static">
                                            <img src="~/Content/assets/media-demo/workers/worker-1.jpg" alt="Christopher Pakulla" class="photo" />
                                            <figure class="item-photo__hover"><span class="item-photo__more">View</span></figure>
                                        </a>
                                    </div>
                                    <h3 class="worker__name fn">Christopher Pakulla</h3>
                                    <div class="worker__post">Realtor, West USA Realty</div><a href="tel:+44(0)2035102390" class="worker__tel uri">+44 (0) 20 3510 2390</a>
                                </div>
                                <!-- end of block .worker-->
                            </div>
                            <div class="listing__item">
                                <div data-sr="enter bottom move 80px, scale(0), over 0.3s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--sidebar">
                                    <div class="worker__photo">
                                        <a href="agent_profile.html" class="item-photo item-photo--static">
                                            <img src="~/Content/assets/media-demo/workers/worker-2.jpg" alt="Lisa Wemert" class="photo" />
                                            <figure class="item-photo__hover"><span class="item-photo__more">View</span></figure>
                                        </a>
                                    </div>
                                    <h3 class="worker__name fn">Lisa Wemert</h3>
                                    <div class="worker__post">Managing Broker/Partner, e-PRO</div><a href="tel:+44(0)203510567" class="worker__tel uri">+44 (0) 20 3510 567</a>
                                </div>
                                <!-- end of block .worker-->
                            </div>
                            <div class="listing__item">
                                <div data-sr="enter bottom move 80px, scale(0), over 0.6s" data-animate-end="animate-end" class="worker js-unhide-block vcard worker--sidebar">
                                    <div class="worker__photo">
                                        <a href="agent_profile.html" class="item-photo item-photo--static">
                                            <img src="~/Content/assets/media-demo/workers/worker-3.jpg" alt="Mariusz Ciesla" class="photo" />
                                            <figure class="item-photo__hover"><span class="item-photo__more">View</span></figure>
                                        </a>
                                    </div>
                                    <h3 class="worker__name fn">Mariusz Ciesla</h3>
                                    <div class="worker__post">Real Estate Professional</div><a href="tel:+44(0)203510334" class="worker__tel uri">+44 (0) 20 3510 334</a>
                                </div>
                                <!-- end of block .worker-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- END SIDEBAR-->
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- END CENTER SECTION-->
<!-- BEGIN AFTER CENTER SECTION-->
<!-- END AFTER CENTER SECTION-->